target/
*.iml
.classpath
.idea/
.idea/misc.xml
.settings
.project
.metadata/
.plugins/
**/*.log
**/nb-checkerConfiguration.xml
**/nbactions*.xml
nbactions*.xml
nb-checkerConfiguration.xml
bin/
buildQuick.sh
**/sdastan
.DS_Store
/atlassian-ide-plugin.xml
tags
*.dmg
